version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./database:/app/database
      - ./public/uploads:/app/public/uploads
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - NODE_ENV=production